.code-image-div {
  margin: 2rem auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pre {
    border-radius: 10px;
  }

  code {
    font-family: var(--code-font-family) !important;
  }
  button {
    margin: 1rem 0;
  }
}

.code-block,
.code-block > code {
  font-size: var(--font-size) !important;
}
