.footer {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  .footer-header {
    img {
      width: 8rem;
      height: auto;
    }
  }
  .footer-links {
    .section-1 {
      display: flex;
      flex-direction: column;
      p {
        font-weight: bold;
        margin-bottom: 0.8rem;
        font-size: 17px;
      }
      ul {
        display: flex;
        list-style: none;
        flex-direction: column;
        gap: 3px;
        li {
          a {
            font-size: 13px;
            opacity: 85%;
            &:hover {
              opacity: 100%;
            }
          }
        }
      }
    }
  }
}
