.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  .navbar-links {
    ul {
      display: flex;
      list-style: none;
      gap: 1rem;
      li {
        font-size: 14px;
        opacity: 85%;
        &:hover {
          opacity: 100%;
        }
      }
    }
  }
}
