@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white-text-color: #e3e6f5;
  --black-text-color: #000000;
  --background-color: #080a16;
  --primary-color: #8f9cd6;
  --secondary-color: #622d7a;
  --accent-color: #b84ebe;
  --body-font-family: "poppins", sans-serif;
  --code-font-family: "JetBrains Mono", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--white-text-color);
  font-family: var(--body-font-family);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  width: 90%;
  min-height: 100vh;
  margin-inline: auto;
  background-image: linear-gradient(
    45deg,
    hsl(231deg 47% 6%) 40%,
    hsl(225deg 38% 8%) 74%,
    hsl(220deg 39% 9%) 86%,
    hsl(216deg 44% 11%) 93%,
    hsl(212deg 50% 12%) 97%,
    hsl(216deg 44% 11%) 99%,
    hsl(220deg 39% 9%) 100%,
    hsl(225deg 38% 8%) 100%,
    hsl(231deg 47% 6%) 100%
  );
}

body::-webkit-scrollbar {
  width: 0.4em;
  background: var(--background-color);
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  background-size: 400% 400%;
}

body::-webkit-scrollbar-thumb {
  background-color: #39393986;
  border-radius: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
button:focus {
  border: unset;
  outline: unset;
}

button {
  border: unset;
  outline: unset;
}

textarea {
  font-family: inherit;
}
